# Variables
 
 Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when assign a value to a variable. 

 Video Outline:
 * Introduction to Variables
 * Declaring and Assigning Variables
 * Naming Conventions
 * Understanding Variable Types
 * Type Checking and Conversion
 * Dynamic Typing
 * Practical Examples and Common Errors

In [ ]:
a=100

In [4]:
## Declaring and Assigning Variables

age=32
height=6.1
name="Jovita"
is_student=True #Boolean datatype

## printing the variables
print("age:", age)
print("Height:",height)
print("Name:",name)

age: 32
Height: 6.1
Name: Jovita

In [ ]:
#Naming Conventions
# Variable names should be descriptive
# rules: they start with a letter or an "_" and contains letter, numbers, and underscores
# variables names case sensitive

first_name = "Jovita"
last_name = "Andrews"

In [5]:
# Invalid variable names
first-name="Jovita"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (754888049.py, line 2)

In [6]:
#case sensitivity
name = "Jovita"
Name = "Jo"
name, Name

('Jovita', 'Jo')

In [14]:
##understanding variable types
## Python is dynamically typed, type of a variable is determined at runtime
age = 25 #int
height = 6.1 #float
name = "Jovita" #str
is_student = True #bool

print(type(name))

<class 'str'>

In [17]:
## type checking and conversion
type(height)

float

In [21]:
age = 25
print(type(age))
#type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [22]:
# type cast
age = '25'
print(type(int(age)))

<class 'int'>

In [23]:
name = "Jovita"
int(name)

ValueError: invalid literal for int() with base 10: 'Jovita'

In [24]:
height = 6.11
type(height)

float

In [25]:
float(int(height))

6.0

In [29]:
## Dynamic Typing
## Python allows the type of the variable as the program executes

var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [4]:
#input with keyword

age = int(input("what is the age"))
print(age, type(age))

23 <class 'int'>

In [5]:
# simple calculator

num1 = float(input("Enter the first number"))
num2 = float(input("Enter second number"))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1/num2
print("Sum",sum)
print("difference", difference)
print("Product", product)
print("Quotient", quotient)

Sum 30.0
difference -10.0
Product 200.0
Quotient 0.5